#header1-1 .btn {
  font-size: 16px;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#msg-box5-n .mbr-header__text {
  color: #ffffff;
}
#msg-box5-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-n .mbr-article {
  color: #ffffff;
}
#gallery1-3 SMALL {
  text-align: center;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-12 .nav .link,
#dropdown-menu-2btn-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .navbar,
#dropdown-menu-2btn-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-12 .dropdown-menu a:hover,
#dropdown-menu-2btn-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-12 .navbar-toggler {
  color: #ffffff;
}
#social-buttons2-23 .mbr-header__text {
  color: #ffffff;
}
#social-buttons1-17 .mbr-header__text {
  color: #ffffff;
}
#custom-html-2p .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#header3-3d H3 {
  text-align: center;
  font-size: 36px;
}
#dropdown-menu-2btn-3a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3a .nav .link,
#dropdown-menu-2btn-3a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-3a .navbar,
#dropdown-menu-2btn-3a .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-3a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3a .dropdown-menu a:hover,
#dropdown-menu-2btn-3a .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-3a .navbar-toggler {
  color: #ffffff;
}
#header3-39 H3 {
  text-align: center;
}
#content1-38 P {
  text-align: left;
}
#dropdown-menu-2btn-34 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-34 .nav .link,
#dropdown-menu-2btn-34 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-34 .navbar,
#dropdown-menu-2btn-34 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-34 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-34 .dropdown-menu a:hover,
#dropdown-menu-2btn-34 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-34 .navbar-toggler {
  color: #ffffff;
}
#header3-33 H3 {
  text-align: center;
  font-size: 30px;
}
#dropdown-menu-2btn-2w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2w .nav .link,
#dropdown-menu-2btn-2w .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-2w .navbar,
#dropdown-menu-2btn-2w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-2w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2w .dropdown-menu a:hover,
#dropdown-menu-2btn-2w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-2w .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-29 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-29 .nav .link,
#dropdown-menu-2btn-29 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-29 .navbar,
#dropdown-menu-2btn-29 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-29 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-29 .dropdown-menu a:hover,
#dropdown-menu-2btn-29 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-29 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#header3-1g H3 {
  text-align: center;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#dropdown-menu-2btn-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-12 .nav .link,
#dropdown-menu-2btn-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .navbar,
#dropdown-menu-2btn-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-12 .dropdown-menu a:hover,
#dropdown-menu-2btn-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-12 .navbar-toggler {
  color: #ffffff;
}
#header3-11 H3 {
  text-align: center;
  font-size: 48px;
}
#image2-v P {
  font-size: 14px;
}
#header3-y H3 {
  text-align: center;
}
#header3-z H3 {
  text-align: center;
}
#header3-z P {
  text-align: left;
}
#header3-10 H3 {
  text-align: center;
}
#header3-10 P {
  text-align: left;
}
#header3-1t H3 {
  text-align: center;
}
#header3-1t P {
  text-align: left;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#header3-20 H3 {
  font-size: 36px;
  text-align: center;
}
#header3-20 P {
  text-align: left;
}
#content1-22 P {
  text-align: left;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
