#header1-1 .btn {
  font-size: 16px;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-8 .mbr-article P {
  color: #3c3c3c;
}
#msg-box5-n .mbr-header__text {
  color: #ffffff;
}
#msg-box5-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-n .mbr-article {
  color: #ffffff;
}
#gallery1-3 SMALL {
  text-align: center;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .nav .link,
#dropdown-menu-2btn-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .navbar,
#dropdown-menu-2btn-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-12 .dropdown-menu a:hover,
#dropdown-menu-2btn-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-12 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-12 .nav .link,
#dropdown-menu-2btn-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .navbar,
#dropdown-menu-2btn-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-12 .dropdown-menu a:hover,
#dropdown-menu-2btn-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-12 .navbar-toggler {
  color: #ffffff;
}
#social-buttons2-23 .mbr-header__text {
  color: #ffffff;
}
#social-buttons1-17 .mbr-header__text {
  color: #ffffff;
}
#footer1-2l P {
  text-align: center;
}
#custom-html-2p .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#content5-3j .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 60px;
}
#content5-3j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3j .mbr-article {
  color: #fff;
}
#dropdown-menu-2btn-3a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3a .nav .link,
#dropdown-menu-2btn-3a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-3a .navbar,
#dropdown-menu-2btn-3a .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-3a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3a .dropdown-menu a:hover,
#dropdown-menu-2btn-3a .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-3a .navbar-toggler {
  color: #ffffff;
}
#custom-html-3u .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#footer1-3c P {
  text-align: center;
}
#content5-3l .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-3l .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3l .mbr-article {
  color: #fff;
}
#content5-3l .mbr-header .mbr-header__text DIV {
  text-align: center;
}
#dropdown-menu-2btn-2w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2w .nav .link,
#dropdown-menu-2btn-2w .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-2w .navbar,
#dropdown-menu-2btn-2w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-2w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2w .dropdown-menu a:hover,
#dropdown-menu-2btn-2w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-2w .navbar-toggler {
  color: #ffffff;
}
#custom-html-3v .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#footer1-2y P {
  text-align: center;
}
#custom-html-3x .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#footer1-2l P {
  text-align: center;
}
#content5-3n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-3n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3n .mbr-article {
  color: #fff;
}
#content5-3n .mbr-header .mbr-header__text DIV {
  text-align: center;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #3c3c3c;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#content5-14 .mbr-article P {
  color: #3c3c3c;
}
#dropdown-menu-2btn-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-12 .nav .link,
#dropdown-menu-2btn-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-12 .navbar,
#dropdown-menu-2btn-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-12 .dropdown-menu a:hover,
#dropdown-menu-2btn-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-12 .navbar-toggler {
  color: #ffffff;
}
#custom-html-3y .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#footer1-2l P {
  text-align: center;
}
#content5-3o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-3o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3o .mbr-article {
  color: #fff;
}
#content5-3o .mbr-header .mbr-header__text DIV {
  text-align: center;
}
#header3-3q H3 {
  text-align: center;
}
#header3-y H3 {
  text-align: center;
}
#header3-11 H3 {
  text-align: center;
  font-size: 48px;
}
#header3-3s H3 {
  text-align: center;
}
#header3-3s P {
  text-align: left;
}
#header3-z H3 {
  text-align: center;
}
#header3-z P {
  text-align: left;
}
#header3-10 H3 {
  text-align: center;
}
#header3-10 P {
  text-align: left;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#custom-html-3t .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#footer1-2l P {
  text-align: center;
}
#content5-3m .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-3m .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3m .mbr-article {
  color: #fff;
}
#content5-3m .mbr-header .mbr-header__text DIV {
  text-align: center;
}
#content1-22 P {
  text-align: left;
}
#custom-html-3w .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#dropdown-menu-2btn-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1v .nav .link,
#dropdown-menu-2btn-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1v .navbar,
#dropdown-menu-2btn-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1v .dropdown-menu a:hover,
#dropdown-menu-2btn-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1v .navbar-toggler {
  color: #ffffff;
}
#footer1-2l P {
  text-align: center;
}
#content5-3z .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-3z .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3z .mbr-article {
  color: #fff;
}
#content5-3z .mbr-header .mbr-header__text DIV {
  text-align: center;
  font-size: 48px;
}
#custom-html-45 .responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
#custom-html-45 .responsiveCal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#dropdown-menu-2btn-42 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-42 .nav .link,
#dropdown-menu-2btn-42 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-42 .navbar,
#dropdown-menu-2btn-42 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-42 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-42 .dropdown-menu a:hover,
#dropdown-menu-2btn-42 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-42 .navbar-toggler {
  color: #ffffff;
}
#custom-html-43 .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#footer1-44 P {
  text-align: center;
}
#content5-46 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-46 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-46 .mbr-article {
  color: #fff;
}
#content5-46 .mbr-header .mbr-header__text DIV {
  text-align: center;
  font-size: 72px;
}
#content5-47 .mbr-header .mbr-header__text {
  text-align: center;
  color: #3c3c3c;
}
#content5-47 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-article {
  color: #fff;
}
#content5-47 .mbr-article P {
  color: #3c3c3c;
  font-size: 48px;
  text-align: center;
}
#dropdown-menu-2btn-49 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-49 .nav .link,
#dropdown-menu-2btn-49 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-49 .navbar,
#dropdown-menu-2btn-49 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-49 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-49 .dropdown-menu a:hover,
#dropdown-menu-2btn-49 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-49 .navbar-toggler {
  color: #ffffff;
}
#custom-html-4a .clearbox {
  font-size: 18px ;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black ;
  text-align: center ;
  padding: 10px ;
}
#footer1-4b P {
  text-align: center;
}
